body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  padding: 10px;
  background: #25d366; /* WhatsApp green color */
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.container {
  position: relative;
}

.register {
  position: fixed;
  padding: 30px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  top: 35%;
  left: 32%;
  display: flex;
  flex-direction: row;
}

.chat-box {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  margin: 40px 50px;
  height: 600px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.member-list {
  width: 20%;
}

.chat-content {
  width: 80%;
  margin-top: 10px;
}

.chat-messages {
  height: 400px; /* Set your desired fixed height */
  border: 1px solid #ededed; /* WhatsApp chat border color */
  overflow-y: auto; /* Add scrollbar if messages exceed the height */
}

.send-message {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.input-message {
  width: 90%;
  border-radius: 25px; /* WhatsApp input border-radius */
  padding: 10px;
  border: 1px solid #ededed; /* WhatsApp input border color */
}

ul {
  padding: 0;
  list-style-type: none;
}

.send-button {
  width: 10%;
  border-radius: 25px; /* WhatsApp send button border-radius */
  margin-left: 5px;
}

.member {
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid #ededed; /* WhatsApp member list border color */
  cursor: pointer;
  margin: 5px 2px;
}

.member.active {
  background: #25d366; /* WhatsApp green color */
  color: #fff;
  border-bottom: 1px solid #ededed; /* WhatsApp active member border color */
}

.member:hover {
  background: #f2f2f2; /* WhatsApp member list hover background color */
}

.avatar {
  background-color: #25d366; /* WhatsApp green color */
  padding: 3px 5px;
  border-radius: 50%;
  color: #fff;
}

.avatar.self {
  color: #000;
  background-color: #ededed; /* WhatsApp self avatar background color */
}

.message {
  padding: 10px;
  width: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* WhatsApp message box shadow */
  margin: 10px;
  border-radius: 10px;
  background: #fff;
}

.message-data {
  padding: 5px;
}

.message.self {
  justify-content: flex-end;
}